<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coffeecap"
        tools:targetApi="31">
        <activity
            android:name=".Splashscreen"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".Menusnacks"
            android:exported="false" />
        <activity
            android:name=".Productosnacks"
            android:exported="false" />
        <activity
            android:name=".Menuensalada"
            android:exported="false" />
        <activity
            android:name=".Productoensalada"
            android:exported="false" />
        <activity
            android:name=".Menupastel"
            android:exported="false" />
        <activity
            android:name=".Productopastel"
            android:exported="false" />
        <activity
            android:name=".Menuhamburguesa"
            android:exported="false" />
        <activity
            android:name=".Productohamburguesa"
            android:exported="false" />
        <activity
            android:name=".Transbankview"
            android:exported="false" />
        <activity
            android:name=".Ayuda"
            android:exported="false" />
        <activity
            android:name=".Confirmacion"
            android:exported="false" />
        <activity
            android:name=".Formapagos"
            android:exported="false" />
        <activity
            android:name=".Carrito"
            android:exported="false" />
        <activity
            android:name=".Menucafes"
            android:exported="false" />
        <activity
            android:name=".Productocafe"
            android:exported="false" />
        <activity
            android:name=".MenuCasino"
            android:exported="false"
            android:label="@string/title_activity_menu_casino"
            android:theme="@style/Theme.Coffeecap" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Coffeecap" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>